@model IEnumerable<SFDashboard.Models.DashBoardDetails>

<h2 class="line_30" id="country_name"></h2>
<table id="tbl_country_map" class="countries_list">
    <tbody>
        <tr>
            <td>Air Export Job</td>
            <td class="fs15 fw700 text-right">25%</td>
        </tr>
        <tr>
            <td>Air Import Job</td>
            <td class="fs15 fw700 text-right">15%</td>
        </tr>
        <tr>
            <td>Sea Export Job</td>
            <td class="fs15 fw700 text-right">13%</td>
        </tr>
        <tr>
            <td>Sea Import Job</td>
            <td class="fs15 fw700 text-right">17%</td>
        </tr>
        <tr>
            <td>Transport Export Job</td>
            <td class="fs15 fw700 text-right">15%</td>
        </tr>
        <tr>
            <td>Transport Import Job</td>
            <td class="fs15 fw700 text-right">15%</td>
        </tr>
    </tbody>
</table>